<th:block th:fragment="qna_secret" xmlns:th="http://www.thymeleaf.org">
    <div id="qna_secret" class="layer_popup">
        <div class="layer_popup_wrap">
            <div class="popup_wrap wp500" tabindex="-1">
                <h1 class="p_tit">비밀번호 확인</h1>
                <div class="popup_inner">
                    <div class="popup_cont_wrap">
                        <div class="popup_cont_inner">
                            <p class="mb10">비밀번호를 입력해주세요.</p>
                            <div class="table_layout pop mb10">
                                <table>
                                    <caption>비밀번호 입력</caption>
                                    <colgroup>
                                        <col style="width: 120px;">
                                        <col style="width: auto;">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th scope="row"><label for="qna_secret_pwd">비밀번호</label></th>
                                        <td>
                                            <input type="password" title="비밀번호" id="qna_secret_pwd" class="w100">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="btn_wrap mt30">
                        <button id="qna_secret_btn_confirm" class="btn_basic bg_green02">확인</button>
                        <button id="qna_secret_btn_cancel" class="btn_basic bg_gray">취소</button>
                    </div>
                </div>
                <a href="javascript:;" id="btn_close_qna_secret_pop" class="pop_close">팝업 닫기</a>
            </div>
        </div>
    </div>
    <script>
        const qna_secret = {

            /**
             * 상태
             */
            state: {
                qnaOid: null,
                pswd: null,
                apiType: 'qna', // 'qna' 또는 'board'
                category: null,
                boardConfig: {}, // 동적게시판 설정값
                mode: null,
                onSuccess: null // 성공 시 실행할 콜백 함수
            },

            /**
             * 모달 show
             */
            initModal: function (qnaOid, pswd, apiType, boardConfig, mode, callback, category) {
                this.state.qnaOid = qnaOid;
                this.state.pswd = pswd;
                this.state.apiType = apiType || 'qna';
                this.state.boardConfig = boardConfig;
                this.state.category = category;
                this.state.mode = mode;
                this.state.onSuccess = callback;
                document.getElementById('qna_secret_pwd').value = '';
                uiCommon.fnShowModal('qna_secret');
                this.init();
            },

            /**
             * 초기 로드
             */
            init: function () {
                this.initEvent();
            },

            /**
             * 이벤트 바인딩
             */
            initEvent: function (){
                const _this = this;

                // 확인 버튼 클릭
                document.getElementById('qna_secret_btn_confirm').onclick = function () {
                    _this.verifyPassword();
                };

                // 취소 버튼 클릭
                document.getElementById('qna_secret_btn_cancel').onclick = function () {
                    uiCommon.fnHideModal('qna_secret');
                };

                // 닫기 버튼 클릭
                document.getElementById('btn_close_qna_secret_pop').onclick = function () {
                    uiCommon.fnHideModal('qna_secret');
                };

                // Enter 키로 확인
                document.getElementById('qna_secret_pwd').onkeypress = function (e) {
                    if (e.key === 'Enter') {
                        _this.verifyPassword();
                    }
                };
            },

            /**
             * 비밀번호 확인
             */
            verifyPassword: async function () {
                const inputPwd = document.getElementById('qna_secret_pwd').value.trim();

                if (!inputPwd) {
                    uiCommon.fnShowAlertModal('비밀번호를 입력해주세요.');
                    return;
                }

                // API 타입에 따라 분기 처리
                let apiUrl, param;
                if (this.state.apiType === 'board') {
                    // 동적 QNA 게시판 API
                    apiUrl = '/api/common/board/check/pasw';
                    param = {
                        password: inputPwd,
                        bbsPstOid: this.state.qnaOid
                    };
                } else {
                    // 고정 QNA 게시판 API
                    apiUrl = '/api/common/portal/qna/check/pasw';
                    param = {
                        pswd: inputPwd,
                        qnaOid: this.state.qnaOid
                    };
                }

                try{
                	const response = await API.post(apiUrl, param);

                	// true(성공) or false(실패)
                	if(response){
                		
                		if(typeof this.state.onSuccess === 'function'){
                			uiCommon.fnHideModal('qna_secret'); // 모달 닫기
                            this.state.onSuccess();
                		}else{
                            // 상세 페이지로 이동
                    		// 동적 QNA 게시판
                    		let url;
                            if(this.state.apiType === 'board'){
                            	url = contextPath + '/board/post?menuCd='+ this.state.boardConfig.menuCd +'&bbsOid=' + this.state.boardConfig.bbsOid + '&bbsPstOid=' + this.state.qnaOid;
                            	if(this.state.mode === 'upd'){
                            		url = contextPath + '/board/write?menuCd='+ this.state.boardConfig.menuCd +'&bbsOid=' + this.state.boardConfig.bbsOid + '&bbsPstOid=' + this.state.qnaOid;
                            	}
                                window.location.href = url;
                            }else{
                            	url = contextPath + '/board/qna/post?qnaOid=' + this.state.qnaOid + '&category=' + this.state.category;
                            	if(this.state.mode === 'upd'){
                            		url = contextPath + '/board/qna/write?qnaOid=' + this.state.qnaOid + '&category=' + this.state.category;
                            	}
                            	//고정 QNA 게시판
                                window.location.href = url;
                            }
                		}
                	}else{
                        uiCommon.fnShowAlertModal('비밀번호가 일치하지 않습니다.');
                        document.getElementById('qna_secret_pwd').value = '';
                        document.getElementById('qna_secret_pwd').focus();
                	}
                }catch(error){
                	uiCommon.fnShowAlertModal(error.details || error);
                }
            }
        }
    </script>
</th:block>