<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>소통·참여 > QNA 메인</title>
    <meta name="" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div layout:fragment="main_content" class="content_wrap">
    <h3 class="stit">Q&amp;A</h3>
    <div class="human_intro_wrap">
        <strong>질의하시고자 하는 정확한 항목에 질의사항 입력 부탁드립니다.</strong>
    </div>
    <div class="link_box">
        <ul>
            <li th:each="category, stts : ${QnaCategoryList}">
                <a th:href="@{/board/qna(category=${ctgry.cdVal})}" th:data-category="${ctgry.cdVal}">
                    <p>
                        <img th:src="@{/portal/images/ic_{num}.png(num=${#numbers.formatInteger(stts.count, 2)})}" th:alt="${ctgry.cdNm}">
                    </p>
                    <p th:text="${ctgry.cdNm}">카테고리명</p>
                    <em>바로가기</em>
                </a>
            </li>
        </ul>
    </div>
</div>
<script layout:fragment="main_scripts" th:inline="javascript" type="text/javascript">
    const qna_main = {

        /**
         * 상태
         */
        state: {
            all: [],
            pageIndex: 1,
            pageCnt: 10
        },

        /**
         * 초기 로드
         */
        init: function () {
            const _this = this;
            _this.initEvent();
        },

        /**
         * 이벤트 바인딩
         */
        initEvent: function () {
            const _this = this;

        }
    }
    document.addEventListener("DOMContentLoaded", function() {
        qna_main.init();
    });
</script>
</body>
</html>