<footer th:fragment="main_footer" class="footer_wrap">
    <div class="footer_inner">
        <div class="footer_top">
            <div class="footer_menu">
                <a th:href="@{/page/portal701}" class="highlight">개인정보처리방침</a>
                <a th:href="@{/page/portal101}">기관 소개</a>
            </div>
            <div class="related_link">
                <a href="javascript:;" title="관련사이트 바로가기 열기">관련사이트 바로가기</a>
                <span style="display: none;">
                    <a href="http://www.alio.go.kr" target="_blank" title="새 창으로 열림" rel="noopener">공공기관 알리오</a>
                    <a href="http://www.law.go.kr/main.html" target="_blank" title="새 창으로 열림" rel="noopener">국가법령정보센터</a>
                    <a href="https://www.data.go.kr/" target="_blank" title="새 창으로 열림" rel="noopener">공공데이터</a>
                    <a href="https://www.open.go.kr/" target="_blank" title="새 창으로 열림" rel="noopener">정보공개포털</a>
                    <a href="http://world.moleg.go.kr" target="_blank" title="새 창으로 열림" rel="noopener">세계법제정보센터</a>
                    <a href="http://policy.nl.go.kr" target="_blank" title="새 창으로 열림" rel="noopener">국립중앙도서관 정책정보서비스(POINT)</a>
                    <a href="http://www.kci.go.kr" target="_blank" title="새 창으로 열림" rel="noopener">국내학술지인용색인정보포털</a>
                    <a href="http://www.kairb.org" target="_blank" title="새 창으로 열림" rel="noopener">대한기관윤리심의기구협의회</a>
                    <a href="http://aibhl.org" target="_blank" title="새 창으로 열림" rel="noopener">연세대학교 의료법윤리학연구원</a>
                    <a href="http://my.ewha.ac.kr/bioethic" target="_blank" title="새 창으로 열림" rel="noopener">이화여자대학교 생명윤리정책협동과정</a>
                    <a href="http://www.eible.org" target="_blank" title="새 창으로 열림" rel="noopener">이화여자대학교 생명의료법연구소</a>
                </span>
            </div>
        </div>
        <div class="footer_cont">
            <strong>국가생명윤리정책원</strong>
            <div class="address_wrap">
                (04933) 서울특별시 광진구 능동로 400, 별관 2층 국가생명윤리정책원(중곡동, 보건복지행정타운)<br>TEL. 02-737-8970 FAX. 02-737-6006
                <p>COPYRIGHT © KoNIBP All rights reserved.</p>
            </div>
            <div class="mark_wrap" id="footerSnsContainer"></div>
        </div>
    </div>
</footer>