<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>소개 > 정책원 소개 > 연혁</title>
    <meta name="" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div layout:fragment="main_content" class="content_wrap">
    <h3 class="stit">연혁</h3>
    <div class="sub_tab_menu">
        <ul id="portal102_tab"></ul>
    </div>
    <div class="ceo_history tab_cnt" id="HED" style="display: block;">
        <ul>
            <li>
                <span class="text"><em>제1대</em></span>
                <span class="img"><img th:src="@{/portal/images/img_ceo01.png}" alt="김성덕 원장 사진"></span>
                <strong>김성덕 <em>원장</em></strong>
                <p>2011.12.1. ~ 2013.5.31.</p>
            </li>
            <li>
                <span class="text"><em>제2 ~ 4대</em></span>
                <span class="img"><img th:src="@{/portal/images/img_ceo02.png}" alt="이윤성 원장 사진"></span>
                <strong>이윤성 <em>원장</em></strong>
                <p>2013.6.3. ~ 2019.4.19.</p>
            </li>
            <li>
                <span class="text"><em>제5대</em></span>
                <span class="img"><img th:src="@{/portal/images/img_ceo03.png}" alt="김명희 원장 사진"></span>
                <strong>김명희 <em>원장</em></strong>
                <p>2020.1.6. ~ 2023.1.5.</p>
            </li>
        </ul>
    </div>
    <div class="history_tab_wrap tab_cnt" id="ORG" style="display: none;">
        <div class="history_tab_inner">
            <a href="javascript:;" class="tab01 on"><span>2022~<em>현재</em></span></a>
            <div class="history_cont" style="display: block;">
                <div class="history_inner">
                    <div class="history_img_wrap">
                        <img th:src="@{/portal/images/img_history01.png}" alt="정책원 연혁 2022~현재 관련 사진 1">
                        <img th:src="@{/portal/images/img_history02.png}" alt="정책원 연혁 2022~현재 관련 사진 2">
                    </div>
                    <div class="history_text_wrap">
                        <strong>2022 ~ 현재</strong>
                        <div class="history_list">
                            <ul>
                                <li>
                                    <strong>2024</strong>
                                    <ul class="text_box">
                                        <li>
                                            <strong>04.</strong>
                                            <p>
                                                <em>- 제6대 홍창권 상임 원장 취임</em>
                                            </p>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>2022</strong>
                                    <ul class="text_box">
                                        <li>
                                            <strong>11.</strong>
                                            <p>
                                                <em>- 중곡동 보건복지행정타운 사옥 이전</em>
                                            </p>
                                        </li>
                                        <li>
                                            <strong>04.</strong>
                                            <p>
                                                <em>- 유전자검사교육기관 지정</em>
                                            </p>
                                        </li>
                                        <li>
                                            <strong>02.</strong>
                                            <p>
                                                <em>- 소비자 대상 직접 시행 유전자검사 역량인증처리기관 지정</em>
                                            </p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="history_tab_inner">
            <a href="javascript:;" class="tab02"><span>2018~2021</span></a>
            <div class="history_cont" style="display: none;">
                <div class="history_inner">
                    <div class="history_img_wrap">
                        <img th:src="@{/portal/images/img_history03.png}" alt="정책원 연혁 2018~2021 관련 사진 1">
                        <img th:src="@{/portal/images/img_history04.png}" alt="정책원 연혁 2018~2021 관련 사진 2">
                    </div>
                    <div class="history_text_wrap">
                        <strong>2018 ~ 2021</strong>
                        <div class="history_list">
                            <ul>
                                <li>
                                    <strong>2021</strong>
                                    <ul class="text_box">
                                        <li>
                                            <strong>06.</strong>
                                            <p>
                                                <em>- 제4대 김봉옥 이사장 취임</em>
                                                <em>- 공익법인 지정</em>
                                            </p>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>2020</strong>
                                    <ul class="text_box">
                                        <li>
                                            <strong>10.</strong>
                                            <p><em>- 기관생명윤리위원회 등록업무 수탁</em></p>
                                        </li>
                                        <li>
                                            <strong>09.</strong>
                                            <p><em>- 생명윤리정책연구센터 지정</em></p>
                                        </li>
                                        <li>
                                            <strong>01.</strong>
                                            <p><em>- 제5대 김명희 상임 원장 취임</em></p>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>2019</strong>
                                    <ul class="text_box">
                                        <li>
                                            <strong>01.</strong>
                                            <p>
                                                <em>- 기타공공기관 지정</em>
                                                <em>- 사전연명의료의향서 등록증 발급 시작</em>
                                            </p>
                                        </li>
                                        <li>
                                            <strong>07.</strong>
                                            <p><em>- 사전연명의료의향서 등록기관 지정</em></p>
                                        </li>
                                        <li>
                                            <strong>06.</strong>
                                            <p><em>- 제3대 이윤성 이사장 취임</em></p>
                                        </li>
                                        <li>
                                            <strong>03.</strong>
                                            <p><em>- 제4대 이윤성 비상임원장에서 상임원장으로 변경</em></p>
                                        </li>
                                        <li>
                                            <strong>02.</strong>
                                            <p><em>- 보건복지부 지정 “국립연명의료관리기관” 운영</em></p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="history_tab_inner">
            <a href="javascript:;" class="tab03"><span>2015 ~ 2017</span></a>
            <div class="history_cont" style="display: none;">
                <div class="history_inner">
                    <div class="history_img_wrap">
                        <img th:src="@{/portal/images/img_history05.png}" alt="정책원 연혁 2017 관련 사진 1">
                        <img th:src="@{/portal/images/img_history06.png}" alt="정책원 연혁 2017 관련 사진 2">
                        <img th:src="@{/portal/images/img_history07.png}" alt="정책원 연혁 2017 관련 사진 3">
                        <img th:src="@{/portal/images/img_history08.png}" alt="정책원 연혁 2017 관련 사진 4">
                        <img th:src="@{/portal/images/img_history09.png}" alt="정책원 연혁 2016 관련 사진 1">
                        <img th:src="@{/portal/images/img_history10.png}" alt="정책원 연혁 2016 관련 사진 2">
                        <img th:src="@{/portal/images/img_history11.png}" alt="정책원 연혁 2016 관련 사진 3">
                        <img th:src="@{/portal/images/img_history12.png}" alt="정책원 연혁 2016 관련 사진 4">
                        <img th:src="@{/portal/images/img_history13.png}" alt="정책원 연혁 2015 관련 사진 1">
                        <img th:src="@{/portal/images/img_history14.png}" alt="정책원 연혁 2015 관련 사진 2">
                        <img th:src="@{/portal/images/img_history15.png}" alt="정책원 연혁 2015 관련 사진 3">
                    </div>
                    <div class="history_text_wrap">
                        <strong>2015 ~ 2017</strong>
                        <div class="history_list">
                            <ul>
                                <li>
                                    <strong>2017</strong>
                                    <ul class="text_box">
                                        <li>
                                            <strong>12.</strong>
                                            <p><em>- 연명의료관리센터 신설</em></p>
                                        </li>
                                        <li>
                                            <strong>08.</strong>
                                            <p><em>- 국립연명의료관리기관 설립추진단 구성</em></p>
                                        </li>
                                        <li>
                                            <strong>06.</strong>
                                            <p><em>- 제4대 이윤성 원장 취임</em></p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="history_list">
                            <ul>
                                <li>
                                    <strong>2015</strong>
                                    <ul class="text_box">
                                        <li>
                                            <strong>06.</strong>
                                            <p><em>- 제3대 이윤성 원장 취임</em></p>
                                        </li>
                                        <li>
                                            <strong>02.</strong>
                                            <p><em>- 국가생명윤리심의위원회 업무지원기관 지정</em></p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="history_tab_inner">
            <a href="javascript:;" class="tab04"><span>2013~2014</span></a>
            <div class="history_cont" style="display: none;">
                <div class="history_inner">
                    <div class="history_img_wrap">
                        <img th:src="@{/portal/images/img_history16.png}" alt="정책원 연혁 2013~2014 관련 사진 1">
                        <img th:src="@{/portal/images/img_history17.png}" alt="정책원 연혁 2013~2014 관련 사진 2">
                    </div>
                    <div class="history_text_wrap">
                        <strong>2013 ~ 2014</strong>
                        <div class="history_list">
                            <ul>
                                <li>
                                    <strong>2014</strong>
                                    <ul class="text_box">
                                        <li>
                                            <strong>12.</strong>
                                            <p>
                                                <em>- 공용기관생명윤리위원회 E-based 시스템(public.irb.or.kr) Open</em>
                                            </p>
                                        </li>
                                        <li>
                                            <strong>11.</strong>
                                            <p>
                                                <em>- 국가생명윤리정책연구원, 이화여자대학교 생명의료법연구소 공동 심포지엄 “의료와 노년기 자기결정”</em>
                                                <em>- (재)국가생명윤리정책연구원 제2대 박상은 이사장님 취임</em>
                                            </p>
                                        </li>
                                        <li>
                                            <strong>06.</strong>
                                            <p>
                                                <em>- 제10차 국가생명윤리위원회 GS-NEC 참석 (멕시코 시티)</em>
                                            </p>
                                        </li>
                                        <li>
                                            <strong>06.</strong>
                                            <p>
                                                <em>- 바이오뱅크 인체자원 실비 추계연구 과제(질병관리본부) 수행</em>
                                            </p>
                                        </li>
                                        <li>
                                            <strong>04.</strong>
                                            <p>
                                                <em>- 기관생명윤리위원회 평가시스템(review.irb.or.kr) Open</em>
                                            </p>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>2013</strong>
                                    <ul class="text_box">
                                        <li>
                                            <strong>12.</strong>
                                            <p>
                                                <em>- 제3기 국가위원회 2013 연례보고서 발간</em>
                                                <em>- 배아생성의료기관 표준운영지침서 개정</em>
                                                <em>- 인체유래물은행 표준운영지침서 개정</em>
                                            </p>
                                        </li>
                                        <li>
                                            <strong>08.</strong>
                                            <p>
                                                <em>- 국가생명윤리지원시스템 구축사업 과제(보건복지부) 수행</em>
                                            </p>
                                        </li>
                                        <li>
                                            <strong>07.</strong>
                                            <p>
                                                <em>- 난임 부부 지원사업 개선방안 연구 과제(보건복지부) 수행</em>
                                                <em>- Workshop “인체자원단위은행 종사자 합동 워크숍”</em>
                                            </p>
                                        </li>
                                        <li>
                                            <strong>06.</strong>
                                            <p>
                                                <em>- 공용기관생명윤리위원회 지정</em>
                                                <em>- 기관생명윤리위원회 평가·인증 기관 지정</em>
                                                <em>- 제2대 이윤성 원장 취임</em>
                                            </p>
                                        </li>
                                        <li>
                                            <strong>03.</strong>
                                            <p>
                                                <em>- 기관생명윤리위원회 평가·인증 기준수립위원회 구성 및 운영</em>
                                                <em>- 생명윤리법 관련 온라인 교육자료 개발 과제(질병관리본부) 수행</em>
                                            </p>
                                        </li>
                                        <li>
                                            <strong>02.</strong>
                                            <p>
                                                <em>- 보건복지부 지정 “공용기관생명윤리위원회” 운영</em>
                                            </p>
                                        </li>
                                        <li>
                                            <strong>01.</strong>
                                            <p>
                                                <em>- 기관생명윤리위원회 평가·인증제도 추진위원회 구성 및 운영</em>
                                                <em>- 보건복지부 지정 “기관생명윤리위원회 정보포털(irb.or.kr)” Open</em><em>- 인체자원연구지원센터 사업(보건복지부) 수행</em>
                                            </p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="history_tab_inner">
            <a href="javascript:;" class="tab05"><span>2010~2012</span></a>
            <div class="history_cont" style="display: none;">
                <div class="history_inner">
                    <div class="history_img_wrap">
                        <img th:src="@{/portal/images/img_history18.png}" alt="정책원 연혁 2010~2012 관련 사진 1">
                        <img th:src="@{/portal/images/img_history19.png}" alt="정책원 연혁 2010~2012 관련 사진 2">
                    </div>
                    <div class="history_text_wrap">
                        <strong>2010 ~ 2012</strong>
                        <div class="history_list">
                            <ul>
                                <li>
                                    <strong>2012</strong>
                                    <ul class="text_box">
                                        <li>
                                            <strong>12.</strong>
                                            <p>
                                                <em>- 제3기 국가위원회 2012 연례보고서 발간</em>
                                            </p>
                                        </li>
                                        <li>
                                            <strong>09.</strong>
                                            <p>
                                                <em>- Workshop “생명윤리법 전면개정에 따른 대학 연구 환경의 변화”</em>
                                            </p>
                                        </li>
                                        <li>
                                            <strong>08.</strong>
                                            <p>
                                                <em>- IRB 설치 지원을 위한 “IRB 아카데미”(총 6회 실시)</em>
                                            </p>
                                        </li>
                                        <li>
                                            <strong>04.</strong>
                                            <p>
                                                <em>- 국가생명윤리정책연구원 창립기념 정책세미나<br>“한국에서의 연명치료중지, 어디로 가야 하나?-사전의료의향서를 중심으로”</em>
                                                <em>- 공용기관생명윤리위원회 시범사업 기관 지정</em>
                                            </p>
                                        </li>
                                        <li>
                                            <strong>03.</strong>
                                            <p>
                                                <em>- 공용기관생명윤리위원회 시범운영(10차 회의를 통해 총 74건 심의)</em>
                                                <em>- 기관위원회 세부운영방안 마련연구 과제(보건복지부) 수행</em>
                                                <em>- 장기 등 기증자 차별, 불이익 현황 및 개선방안 과제(질병관리본부) 수행</em>
                                            </p>
                                        </li>
                                        <li>
                                            <strong>02.</strong>
                                            <p>
                                                <em>- 인체자원 관리과정에서의 윤리적 문제 확보방안 과제(한국보건산업진흥원) 수행</em>
                                                <em>- 생명윤리 및 안전에 관한 법 하위법령 수립지원 과제(보건복지부) 수행</em>
                                            </p>
                                        </li>
                                        <li>
                                            <strong>01.</strong>
                                            <p>
                                                <em>- 보건복지부 기관생명윤리위원회 평가·인증 사업 위탁 운영</em>
                                                <em>- 제1대 김성덕 원장 취임</em>
                                                <em>- 생명윤리지원체계 구축사업 시행</em>
                                            </p>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>2011</strong>
                                    <ul class="text_box">
                                        <li>
                                            <strong>12.</strong>
                                            <p>
                                                <em>- 제1차 이사회 회의(제1대 김성덕 이사장이 제1대 원장으로 취임)</em>
                                                <em>- (재)국가생명윤리정책연구원 및 생명윤리정책전문도서관 개원</em>
                                                <em>- 보건복지부 소관 재단법인 국가생명윤리정책연구원 설립</em>
                                                <em>- 보건복지부 산하 재단법인 국가생명윤리정책연구원 설립 허가</em>
                                            </p>
                                        </li>
                                        <li>
                                            <strong>11.</strong>
                                            <p>
                                                <em>- (재)국가생명윤리정책연구원 발기인(김성덕 외 9인) 창립총회</em>
                                            </p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="main_scripts" th:inline="javascript" type="text/javascript">
    const portal102 = {

        /**
         * 상태
         */
        state: {
            tab: []
        },

        /**
         * 초기 로드
         */
        init: async function () {
            const _this = this;
            await _this.fnGetTabData();
            await _this.initEvent();
        },

        /**
         * 이벤트 바인딩
         */
        initEvent: function () {
            const _this = this;

            // 탭 메뉴 클릭 이벤트
            const tabLinks = document.querySelectorAll('#portal102_tab li a');
            tabLinks.forEach(function(link) {
                link.addEventListener('click', function(e) {
                    e.preventDefault();

                    // URL 변경하여 페이지 리로드
                    const tabValue = this.getAttribute('data-tab');
                    if (tabValue) {
                        const url = new URL(window.location.href);
                        url.searchParams.set('tab', tabValue);
                        window.location.href = url.toString();
                    }
                });
            });
        },

        /**
         * 탭 렌더링
         */
        renderTab: function () {
            const _this = this;
            const tabContainer = document.querySelector('#portal102_tab');

            if (!tabContainer || !_this.state.tab) return;

            // URL에서 tab 파라미터 가져오기
            const urlParams = new URLSearchParams(window.location.search);
            const activeTabValue = urlParams.get('tab');

            let html = '';
            let firstTabValue = null;

            _this.state.tab.forEach((tab, idx) => {
                if (idx === 0) firstTabValue = tab.cdVal;

                // URL 파라미터와 일치하면 활성화, 없으면 첫 번째 탭 활성화
                const isActive = activeTabValue ? (tab.cdVal === activeTabValue) : (idx === 0);
                const activeClass = isActive ? ' class="on"' : '';
                html += `<li${activeClass}><a href="javascript:;" data-tab="${tab.cdVal}">${tab.cdNm}</a></li>`;
            });

            tabContainer.innerHTML = html;

            // 활성화된 탭에 해당하는 섹션 표시
            const targetTabValue = activeTabValue || firstTabValue;
            if (targetTabValue) {
                // 모든 섹션 숨김
                document.querySelectorAll('.tab_cnt').forEach(function (tab) {
                    tab.style.display = 'none';
                });

                // 해당 섹션만 표시
                const targetSection = document.getElementById(targetTabValue);
                if (targetSection) {
                    targetSection.style.display = 'block';
                }
            }

            // 탭 접근성 속성 업데이트
            uiCommon.updateTabAccessibility('#portal102_tab');
        },

        /**
         * 탭 데이터 조회
         */
        fnGetTabData: async function () {
            const _this = this;

            const param = new URLSearchParams({
                grpCd : 'MENU_PORTAL102'
            });

            try {
                const response = await API.get('/api/common/code/groupCd/list?' + param);

                if (response && response.length > 0) {
                    _this.state.tab = response;
                    _this.renderTab()
                }
            } catch (error) {
                console.error('탭 조회 실패:', error);
            }
        }
    }
    document.addEventListener("DOMContentLoaded", function() {
        portal102.init();
    });
</script>
</body>
</html>