<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>사업 > 생명윤리 정책 개발 및 제도 지원 > 정책 연구 및 소통 역량 관리</title>
    <meta name="" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div layout:fragment="main_content" class="content_wrap">
    <h3 class="stit">정책 연구 및 소통 역량 관리</h3>
    <div class="capability_wrap">
        <ul>
            <li>
                <strong>조사·연구</strong>
                <div class="capability_text">
                    <span><img th:src="@{/portal/images/img_capability01.png}" alt="조사·연구"></span>
                    <ul class="text_list">
                        <li>생명윤리 관련 각종 동향 조사 및 분석을 통한 보고서 작성(불법 생식세포 모니터링 및 현황 조사 등)</li>
                        <li>생명윤리 이슈에 대한 언론 동향 모니터링과 분기별 분석을 통한 브리프 발행 등 기초 자료 정리</li>
                        <li>국내외 법령 및 지침 등의 제, 개정 현황 조사 및 분석 보고서</li>
                    </ul>
                    <p class="mt20"><a th:href="@{/board(bbsOid=30, menuCd='BOARD30')}" class="btn_basic btn_bg_type01 flex_shrink"><i class="d_icon"></i>결과 보고서 바로가기</a></p>
                </div>
            </li>
            <li>
                <strong>소통 활성화 지원</strong>
                <div class="capability_text">
                    <span><img th:src="@{/portal/images/img_capability02.png}" alt="소통 활성화 지원"></span>
                    <ul class="text_list">
                        <li>국제 협력을 통한 생명윤리 관련 소통 지원(UNESCO, WHO 등)</li>
                        <li>국내 생명윤리 관련 논의 및 소통 지원(학술대회 지원 사업 등)</li>
                        <li>생명윤리 이슈에 대한 소통 활성화(정기적 콜로키움 개최 등)</li>
                        <li>유관 학회와의 생명윤리 관련 논의 증진을 위한 학술대회 공동 개최 등</li>
                    </ul>
                </div>
            </li>
            <li>
                <strong>연구 인프라 강화</strong>
                <div class="capability_text">
                    <span><img th:src="@{/portal/images/img_capability03.png}" alt="연구 인프라 강화"></span>
                    <ul class="text_list">
                        <li>생명윤리 관련 국내·외 논의 현황 정리, 보고서 등 기초 자료 및 번역물 등 자료 관리</li>
                        <li>신진 연구자 발굴 및 지원(자유공모 지원사업 등)</li>
                        <li>전문 학술지 「생명, 윤리와 정책」 발간(연 2회)</li>
                    </ul>
                    <p class="mt20"><a th:href="@{/page/portal501}" class="btn_basic btn_bg_type01 flex_shrink"><i class="d_icon"></i>학술지 바로가기</a></p>
                </div>
            </li>
            <li>
                <strong>생명윤리 인식 개선 및 이해도 증진</strong>
                <div class="capability_text">
                    <span><img th:src="@{/portal/images/img_capability04.png}" alt="생명윤리 인식 개선 및 이해도 증진"></span>
                    <ul class="text_list">
                        <li>생명윤리 관련 인식 개선 콘텐츠 기획 및 개선 활동 지원</li>
                        <li>관련 정책 및 제도의 이해도 증진을 위한 콘텐츠 기회 및 개발</li>
                        <li>대국민 생명윤리 관련 인식 개선 콘텐츠 개발 및 관리</li>
                    </ul>
                    <p class="mt20">
                        <a href="https://www.youtube.com/@%EA%B5%AD%EA%B0%80%EC%83%9D%EB%AA%85%EC%9C%A4%EB%A6%AC%EC%A0%95%EC%B1%85%EC%9B%90kr" title="국가생명윤리정책원 유튜브 새창열림" target="_blank" class="btn_basic btn_bg_type01 flex_shrink"><i class="d_icon"></i>유튜브 바로가기</a>
                        <a href="https://www.instagram.com/nibp.kr/" title="국가생명윤리정책원 instagram 새창열림" target="_blank" class="btn_basic btn_bg_type01 flex_shrink"><i class="d_icon"></i>인스타 바로가기</a>
                    </p>
                </div>
            </li>
            <li>
                <strong>생명윤리법 지원 및 관리</strong>
                <div class="capability_text">
                    <span><img th:src="@{/portal/images/img_capability05.png}" alt="생명윤리법 지원 및 관리"></span>
                    <ul class="text_list">
                        <li>생명윤리법 및 제도 관련 각종 가이드라인 제·개정</li>
                        <li>생명윤리법 및 관련 민원 질의 대응 지원 및 관리</li>
                        <li>생명윤리법 관련 Q&A 관리</li>
                    </ul>
                    <p class="mt20"><a th:href="@{/board(bbsOid=20, menuCd='BOARD20')}" class="btn_basic btn_bg_type01 flex_shrink"><i class="d_icon"></i>생명윤리법 Q&A</a></p>
                </div>
            </li>
            <li>
                <strong>모니터링</strong>
                <div class="capability_text">
                    <ul class="text_list">
                        <li>불법 생식세포 모니터링, 배아 보관 및 제공 현황 조사 등</li>
                    </ul>
                </div>
            </li>
            <li>
                <strong>안내</strong>
                <div class="capability_text">
                    <ul class="text_list">
                        <li>생명윤리법 제도 내 이해도 증진 활동(간담회, 설명회, 가이드라인 제, 개정 지원 등)</li>
                        <li>관련 민원 및 질의응답 등 관리</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<script layout:fragment="main_scripts" th:inline="javascript" type="text/javascript">
    const portal202 = {

        /**
         * 상태
         */
        state: {
            all: [],
            pageIndex: 1,
            pageSize: 10
        },

        /**
         * 초기 로드
         */
        init: function () {
            const _this = this;
            _this.initEvent();
        },

        /**
         * 이벤트 바인딩
         */
        initEvent: function () {
            const _this = this;

        }
    }
    document.addEventListener("DOMContentLoaded", function() {
        portal202.init();
    });
</script>
</body>
</html>