@font-face {
  font-family: "NotoSansKR";
  font-weight: 300;
  src: url(../font/NotoSans-DemiLight.eot);
  src: url(../font/NotoSans-DemiLight.eot?#iefix) format("embedded-opentype"),
    url(../font/NotoSans-DemiLight.woff) format("woff"),
    url(../font/NotoSans-DemiLight.woff2) format("woff2");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  src: url(../font/NotoSans-Regular.eot);
  src: url(../font/NotoSans-Regular.eot?#iefix) format("embedded-opentype"),
    url(../font/NotoSans-Regular.woff) format("woff"),
    url(../font/NotoSans-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 700;
  src: url(../font/NotoSans-Medium.eot);
  src: url(../font/NotoSans-Medium.eot?#iefix) format("embedded-opentype"),
    url(../font/NotoSans-Medium.woff) format("woff"),
    url(../font/NotoSans-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 800;
  src: url(../font/NotoSans-Bold.eot);
  src: url(../font/NotoSans-Bold.eot?#iefix) format("embedded-opentype"),
    url(../font/NotoSans-Bold.woff) format("woff"),
    url(../font/NotoSans-Bold.woff2) format("woff2"),
    url(../font/NotoSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../font/montserrat-v14-latin-300.eot");
  src: local("Montserrat Light"), local("Montserrat-Light"),
    url("../font/montserrat-v14-latin-300.eot?#iefix")
      format("embedded-opentype"),
    url("../font/montserrat-v14-latin-300.woff2") format("woff2"),
    url("../font/montserrat-v14-latin-300.woff") format("woff"),
    url("../font/montserrat-v14-latin-300.ttf") format("truetype"),
    url("../font/montserrat-v14-latin-300.svg#Montserrat") format("svg");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../font/montserrat-v14-latin-500.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("../font/montserrat-v14-latin-500.eot?#iefix")
      format("embedded-opentype"),
    url("../font/montserrat-v14-latin-500.woff2") format("woff2"),
    url("../font/montserrat-v14-latin-500.woff") format("woff"),
    url("../font/montserrat-v14-latin-500.ttf") format("truetype"),
    url("../font/montserrat-v14-latin-500.svg#Montserrat") format("svg");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../font/montserrat-v14-latin-600.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../font/montserrat-v14-latin-600.eot?#iefix")
      format("embedded-opentype"),
    url("../font/montserrat-v14-latin-600.woff2") format("woff2"),
    url("../font/montserrat-v14-latin-600.woff") format("woff"),
    url("../font/montserrat-v14-latin-600.ttf") format("truetype"),
    url("../font/montserrat-v14-latin-600.svg#Montserrat") format("svg");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../font/montserrat-v14-latin-800.eot");
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
    url("../font/montserrat-v14-latin-800.eot?#iefix")
      format("embedded-opentype"),
    url("../font/montserrat-v14-latin-800.woff2") format("woff2"),
    url("../font/montserrat-v14-latin-800.woff") format("woff"),
    url("../font/montserrat-v14-latin-800.ttf") format("truetype"),
    url("../font/montserrat-v14-latin-800.svg#Montserrat") format("svg");
}
@font-face {
    font-family: 'NanumGothic';
    font-weight: 300;
    src: url(../font/NanumGothicLight.otf) format('opentype'),
         url(../font/NanumGothicLight.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumGothic';
    font-weight: 400;
    src: url(../font/NanumGothic.otf) format('opentype'),
         url(../font/NanumGothic.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumGothic';
    font-weight: 700;
    src: url(../font/NanumGothicBold.otf) format('opentype'),
         url(../font/NanumGothicBold.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumGothic';
    font-weight: 800;
    src: url(../font/NanumGothicExtraBold.otf) format('opentype'),
         url(../font/NanumGothicExtraBold.ttf) format('truetype');
}

/* NanumMyeongjo */
@font-face {
    font-family: 'NanumMyeongjo';
    font-weight: 400;
    src: url(../font/NanumMyeongjo.otf) format('opentype'),
         url(../font/NanumMyeongjo.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumMyeongjo';
    font-weight: 700;
    src: url(../font/NanumMyeongjoBold.otf) format('opentype'),
         url(../font/NanumMyeongjoBold.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumMyeongjo';
    font-weight: 800;
    src: url(../font/NanumMyeongjoExtraBold.otf) format('opentype'),
         url(../font/NanumMyeongjoExtraBold.ttf) format('truetype');
}
@font-face {
  font-family: "NanumBarunGothic";
  src: url("../font/NanumBarunGothic.otf") format('opentype'),
       url("../font/NanumBarunGothic.ttf") format("truetype");
}

/* NanumSquare */
@font-face {
    font-family: 'NanumSquare';
    font-weight: 300;
    src: url(../font/NanumSquareL.eot);
    src: url(../font/NanumSquareL.eot?#iefix) format('embedded-opentype'),
         url(../font/NanumSquareL.woff) format('woff'),
         url(../font/NanumSquareL.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    src: url(../font/NanumSquareR.eot);
    src: url(../font/NanumSquareR.eot?#iefix) format('embedded-opentype'),
         url(../font/NanumSquareR.woff) format('woff'),
         url(../font/NanumSquareR.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 700;
    src: url(../font/NanumSquareB.eot);
    src: url(../font/NanumSquareB.eot?#iefix) format('embedded-opentype'),
         url(../font/NanumSquareB.woff) format('woff'),
         url(../font/NanumSquareB.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 800;
    src: url(../font/NanumSquareEB.eot);
    src: url(../font/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
         url(../font/NanumSquareEB.woff) format('woff'),
         url(../font/NanumSquareEB.ttf) format('truetype');
}

/* NanumBarunGothic */
@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 200;
    src: url(../font/NanumBarunGothicUltraLight.otf) format('opentype'),
         url(../font/NanumBarunGothicUltraLight.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 300;
    src: url(../font/NanumBarunGothicLight.otf) format('opentype'),
         url(../font/NanumBarunGothicLight.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 400;
    src: url(../font/NanumBarunGothic.otf) format('opentype'),
         url(../font/NanumBarunGothic.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 700;
    src: url(../font/NanumBarunGothicBold.otf) format('opentype'),
         url(../font/NanumBarunGothicBold.ttf) format('truetype');
}

/* NanumHuman */
@font-face {
    font-family: 'NanumHuman';
    font-weight: 200;
    src: url(../font/NanumHumanEL.woff) format('woff'),
         url(../font/NanumHumanEL.otf) format('opentype'),
         url(../font/NanumHumanEL.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumHuman';
    font-weight: 300;
    src: url(../font/NanumHumanLight.woff) format('woff'),
         url(../font/NanumHumanLight.otf) format('opentype'),
         url(../font/NanumHumanLight.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumHuman';
    font-weight: 400;
    src: url(../font/NanumHumanRegular.woff) format('woff'),
         url(../font/NanumHumanRegular.otf) format('opentype'),
         url(../font/NanumHumanRegular.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumHuman';
    font-weight: 700;
    src: url(../font/NanumHumanBold.woff) format('woff'),
         url(../font/NanumHumanBold.otf) format('opentype'),
         url(../font/NanumHumanBold.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumHuman';
    font-weight: 800;
    src: url(../font/NanumHumanEB.woff) format('woff'),
         url(../font/NanumHumanEB.otf) format('opentype'),
         url(../font/NanumHumanEB.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumHuman';
    font-weight: 900;
    src: url(../font/NanumHumanHeavy.woff) format('woff'),
         url(../font/NanumHumanHeavy.otf) format('opentype'),
         url(../font/NanumHumanHeavy.ttf) format('truetype');
}

/* NanumPen */
@font-face {
    font-family: 'NanumPen';
    font-weight: 400;
    src: url(../font/NanumPen.otf) format('opentype'),
         url(../font/NanumPen.ttf) format('truetype');
}

/* NanumBrush */
@font-face {
    font-family: 'NanumBrush';
    font-weight: 400;
    src: url(../font/NanumBrush.otf) format('opentype'),
         url(../font/NanumBrush.ttf) format('truetype');
}

/* NanumBarunpen */
@font-face {
    font-family: 'NanumBarunpen';
    font-weight: 400;
    src: url(../font/NanumBarunpenR.otf) format('opentype'),
         url(../font/NanumBarunpenR.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumBarunpen';
    font-weight: 700;
    src: url(../font/NanumBarunpenB.otf) format('opentype'),
         url(../font/NanumBarunpenB.ttf) format('truetype');
}

/* NanumGothicEco */
@font-face {
    font-family: 'NanumGothicEco';
    font-weight: 400;
    src: url(../font/NanumGothicEco.otf) format('opentype'),
         url(../font/NanumGothicEco.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumGothicEco';
    font-weight: 700;
    src: url(../font/NanumGothicEcoBold.otf) format('opentype'),
         url(../font/NanumGothicEcoBold.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumGothicEco';
    font-weight: 800;
    src: url(../font/NanumGothicEcoExtraBold.otf) format('opentype'),
         url(../font/NanumGothicEcoExtraBold.ttf) format('truetype');
}

/* NanumMyeongjoEco */
@font-face {
    font-family: 'NanumMyeongjoEco';
    font-weight: 400;
    src: url(../font/NanumMyeongjoEco.otf) format('opentype'),
         url(../font/NanumMyeongjoEco.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumMyeongjoEco';
    font-weight: 700;
    src: url(../font/NanumMyeongjoEcoBold.otf) format('opentype'),
         url(../font/NanumMyeongjoEcoBold.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumMyeongjoEco';
    font-weight: 800;
    src: url(../font/NanumMyeongjoEcoExtraBold.otf) format('opentype'),
         url(../font/NanumMyeongjoEcoExtraBold.ttf) format('truetype');
}

/* NanumSquareRound */
@font-face {
    font-family: 'NanumSquareRound';
    font-weight: 300;
    src: url(../font/NanumSquareRoundOTFL.otf) format('opentype'),
         url(../font/NanumSquareRoundL.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquareRound';
    font-weight: 400;
    src: url(../font/NanumSquareRoundOTFR.otf) format('opentype'),
         url(../font/NanumSquareRoundR.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquareRound';
    font-weight: 700;
    src: url(../font/NanumSquareRoundOTFB.otf) format('opentype'),
         url(../font/NanumSquareRoundB.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquareRound';
    font-weight: 800;
    src: url(../font/NanumSquareRoundOTFEB.otf) format('opentype'),
         url(../font/NanumSquareRoundEB.ttf) format('truetype');
}
